* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root     {
    --primary-color: #0084FD;
    --main-space: 2rem;
    --secondary-color: purple;
    }
    

/* CONTAINER */

.main-container {
    max-width: 1000px;
    margin: 0 auto;
}

.little-container {
    max-width: 600px;
    margin: 0 auto;
}

.description-container {
    max-width: 800px;
    margin: 0 auto;
}

/* HEADER */


header {
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}


.flexhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    text-decoration: none;
    display: inline;
}

nav ul {
    text-align: right;
    vertical-align: middle;
}


.navbar {
    width: 80%;
    vertical-align: middle;
    color: white;
}




/* MAIN  */

main {
    height: 1000px;
    margin-top: 100px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.card {
    width: calc((100%/3) - 20px);
    height: 200px;
    margin: 10px;
    background-color: azure;
    color: #0084FD;
    border-radius: 10px;
}

.card:first-child {
    width: calc((2*100%)/3 - 20px);
    height: 200px;
    margin: 10px;
}


footer {
    background-color: #222;
    height: 100px;

}

.debug {
    border: 1px dashed red;
}