* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root     {
    --primary-color: #0084FD;
    --main-space: 2rem;
    --secondary-color: #9792e4;
    }

.debug {
        border: 1px dashed red;
    }

.flexhead {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.color-primary {
    --primary-color: #0084FD;
}

    

/* CONTAINER */

.main-container {
    max-width: 70%;
    margin: 0 auto;
}

.little-container {
    max-width: 50%;
    margin: 0 auto;
}

.description-container {
    max-width: 60%;
    margin: 0 auto;
}

/* HEADER */


header {
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}


nav ul li {
    list-style: none;
    display: inline-block;
    color: white;
    margin-left: 15px;
    font-size: 0.9em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}



nav ul {
    text-align: right;
    vertical-align: middle;
}


.navbar {
    width: 80%;
    vertical-align: middle;
    color: white;
}

header #hamburgermenu {
    display: none;
}




/* MAIN  */

main {
    margin-top: 100px;
}


/* INIZIO HERO SECTION */

#hero-section .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#hero-section .card {
    width: calc((100%/3) - 20px);
    height: 250px;
    margin: 10px;
    background-color: #b5ddff;
    color: #0084FD;
    border-radius: 10px;
}

#hero-section .card:first-child {
    width: calc((2*100%)/3 - 20px);
    height: 250px;
    margin: 10px;
}

#hero-section .card-image > img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

#hero-section .hero-info {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

#hero-section .hero-first-info {
    padding: 20px;
    width: 40%;
}

#hero-section .card-image {
    width: 30%;
}

#hero-section .hero-flex {
    display: flex;
    justify-content: space-around;
}

#hero-section .card .icon-container {
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
}

#hero-section .card .hero-info p {
    color: black;
    padding-top: 20px;
    font-size: 0.9em;

}

#hero-section .card .hero-first-info p {
    color: black;
    padding-top: 30px;
    font-size: 0.9em;
    padding-bottom: 30px;
}


/* FINE HERO SECTION */


/* SEZIONE PLANNING */

#description {
    margin-top: 50px;
    background-color: var(--secondary-color);
}

.vertical-card {
    width: calc((100%/3));
    height: 400px;
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 30px;
    margin-top: 100px;
    padding: 2.5em;
}

#strategic-plan {
    width: 50%;
    height: 100%;
    padding: 50px;
    color: white;
}

#strategic-plan h2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

#strategic-plan p {
    font-size: 0.8em;

}

#strategic-plan > img {
    width: 100%;
}

.planning-img {
    height: 50%;
    padding-bottom: 20px;

}

.vertical-card .planning-img > img {
    width: 100%;
    height: 100%;
}

.vertical-card h4 {
    text-align: center;
    padding-bottom: 20px;
}

.vertical-card p {
    text-align: center;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 0.8em;
}


.arrow {
    background-color: var(--secondary-color);
    padding-top: 0.3em;
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 auto;
}


/* FINE SEZIONE PLANNING */


.horizontal-card {
    width: 70%;
    height: 150px;
    margin: 20px auto;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 30px;
}

#testimonials {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#testimonials .horizontal-card > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.testimonial-txt {
    margin: 20px;
    text-align: left;
}

#benefits {
    background-color: var(--secondary-color);
    padding-top: 50px;
    padding-bottom: 50px;
}


#benefits h3 {
    text-align: center;
    padding-bottom: 50px;
    color: white;
}

#benefits .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#benefits .card {
    width: calc((100%/3) - 20px);
    height: 300px;
    margin: 10px;
    background-color: azure;
    color: #0084FD;
    border-radius: 10px;
}

#aboutus {
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutus .aboutus-column > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#ctasection {
    background-color: var(--secondary-color);
    text-align: center;
}

footer {
    background-color: #222;
    height: 100px;

    padding-top: 30px;
    text-align: center;
    color: white;
}




/* BOTTONI */
.mybtn-head {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.mybtn-head a {
    text-decoration: none;
    color: black;
}

.mybtn-hero {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.mybtn-hero a {
    text-decoration: none;
    color: white;
}



/* MEDIA QUERY */


@media screen and (max-width: 992px) {

    .main-container {
        max-width: 750px;
    }

    header #hamburgermenu {
        display: block;
    }

    .navbar {
        display: none;
    }



}

@media screen and (max-width: 768px) {

    .main-container {
        max-width: 600px;
    }
}
